NET a(0) LOC = F12;
NET a(1) LOC = G12;
NET a(2) LOC = H14;

NET y(7) LOC = P11;
NET y(6) LOC = P12;
NET y(5) LOC = N12;
NET y(4) LOC = P13;
NET y(3) LOC = N14;
NET y(2) LOC = L12;
NET y(1) LOC = P14;
NET y(0) LOC = K12;